@use "sass:map";
/* make the customizations */
$theme-colors: ("info": #ffbc44,
    "primary": #a1104d,
    "dark": #2a2a2a,
    "secondary": #a7a7a7,
    "black": #0f0f0f,
);

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";
@import "selection.scss";
@import "scrollbar.scss";
@import "projects.scss";


html,
body {
    color: map.get($theme-colors, "dark");
    background-color: #fafafa;
}

a {
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}


.blur {
    filter: blur(5px);
    transition: 0.2s ease;
}

.blur:hover {
    filter: blur(0px);
    transition: 0.2s ease;
}


h1 {
    color: map.get($theme-colors, "primary");
}

img.dark-shadow {
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));
}

.inner-shadow {
    box-shadow: inset 0 0 20px #000000;
}

.hover-cursor:hover {
    cursor: pointer;
  }
  
  .hover-cursor:hover p {
    width: 100%;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7;
  }
  
  .hover-cursor {
    position: relative;
    text-align: center;
  }
  
  .hover-cursor p {
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    margin-bottom: 5px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.3s linear;
    transition: visibility 0s, opacity 0.3s linear;
  }